.info {
    > * {
        display: block;
    }

    .author {
        font-weight: $font-bold;
    }
    .author:before{
        content: "by ";
        font-weight: $font-regular;
    }
    .date {}
    .tags {}
}

aside {
    width: 40%;
    clear: none;
    float: right;
    text-align: justify;

    @include box(none);
    border-left: .2rem solid lighten($color-base-2, 20%);

    > * {
        margin-left: .5rem;
    }
}

blockquote {
    @include box(lighten($font-color, 85%));
    border-left: .2rem solid lighten($font-color, 80%);
}

pre {
    @include box(none);
    padding: 1rem;
}

figure {
    @include box(none);
    justify-items: center;
    margin-bottom: 1em;

    img {
        width: 100%;
        object-fit: contain;
        border-radius: $common-border-radius;
    }
    figcaption {
        margin: 0 2rem;
        // outline: 0;
        // z-index: 300;
        > * {
            text-align: center;
            margin: 0;
        }
        h4 {
        }
        p {
        }
    }
}

table {
    @include box(none);
    border-collapse: collapse;
    width: 95%;

    thead {
        padding-bottom: .5rem;
    }
    tr + tr {
        border-top: 1px solid lighten($font-color, 80%);
    }
    td + td {
        border-left: 1px solid lighten($font-color, 80%);
    }
    td {
        padding: 0.4em;
    }
    th {
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }
}
