body {
    font-family: $font-base-family;
    font-weight: $font-base-weight;
    font-size: $font-base-size;
    line-height: $font-base-line-height;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
}

a {
    text-decoration: underline;
}
a:hover {
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-header-family;
    font-weight: $font-header-weight;
    font-size: $font-header-size;
    line-height: $font-header-line-height;

    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
h1 {
    font-size: 200%;
}
p > 
h2 {
    font-size: 170%;
}
h3 {
    font-size: 150%;
}
h4,h5,h6 {
    font-weight: $font-bold;
    font-size: 110%;
}


blockquote {
    font-style: italic;
    font-size: 80%;
    color: lighten($font-color, 10%);

    p {
        text-align: left;
    }
}

pre {
    vertical-align: text-bottom;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: $font-mono-family;
    font-size: $font-mono-size;
    font-weight: $font-mono-weight;
    line-height: $font-mono-line-height;

    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

figcaption {
    font-style: italic;
    font-size: medium;
    color: lighten($font-color, 20%);

    p {
      margin-bottom: 0;
    }
}
