.noshow {
    display: none;
}

.row {
    @include flow(row wrap, start, start);
    > * {
        padding: 0 .2rem;
    }
}

.column {
    @include flow(column wrap, start, start);
    > * {
        padding: .2rem 0;
    }
}

.menu .active {
    font-weight: $font-bold;
}

.warn {
    $warn-color: yellow;
    @include flow(row nowrap, space-between, center);

    color: darken($warn-color, 35%);
    background-color: lighten($warn-color, 30%);
    border-radius: 3px;
    border: 2px solid rgba(darken($warn-color, 5%), 0.5);
    margin-bottom: 1rem;

    li {
        list-style: none;
        font-size: 170%;
        margin: 0 1.2rem;
        vertical-align: middle;
    }
    span {
        padding: 1rem;
    }
}

