{{/* vim: ft=gohtmltmpl
     */}}

<h1>
    <a href="{{ .Site.BaseURL | absURL }}"><span>{{ .Site.Title }}</span></a>
</h1>
<nav class="menu column">
    {{ $page := . }}
    {{ range .Site.Menus.main.ByWeight }}
    {{ if gt .Weight -1 }}
    <a href="{{ .URL }}" class="{{ if eq $page.URL .URL }}active{{ end }}">
        <span class="name">{{ .Name | lower }}</span>
    </a>
    {{ end }}
    {{ end }}
</nav>
