{{/* vim: ft=gohtmltmpl
     */}}

<!-- menu.main -->
{{ $menu := or (.Scratch.Get "menu") .Site.Menus.main }}
{{ if gt ($menu | len) 0 }}
<nav class="menu">
    {{ $page := . }}
    {{ range $menu.ByWeight }}
    {{ if gt .Weight -1 }}
    <a href="{{ .URL }}" title="{{ .Title }}" class="{{ if eq $page.URL .URL }}active{{ end }}">
        <img class="icon" src="/img/hand/link.svg" alt="_" />
        <span class="name">{{ .Name | lower }}</span>
    </a>
    {{ end }}
    {{ end }}
</nav>
{{ end }}
{{ .Scratch.Delete "menu" }}
