{{/* vim: ft=gohtmltmpl
     */}}

<h1>{{ .Title }}</h1>

<span class="date">{{ .Date.Format "2006-01-02" }}</span>

{{ if .Params.Categories }}
<li class="divider"/>
<nav class="categories">
{{ range .Params.Categories }}
    <a href="{{ urlize (printf "/categories/%s" .) }}">~{{ lower . }}</a>
{{ end }}
</nav>
{{ end }}

{{ if .Params.Tags }}
<li class="divider"/>
<nav class="tags">
{{ range .Params.Tags }}
    <a href="{{ urlize (printf "/tags/%s" .) }}">#{{ lower . }}</a>
{{ end }}
</nav>
{{ end }}
