{{/* vim: ft=gohtmltmpl
     */}}

<!-- socials -->
<nav class="social">
    {{ range sort .Site.Params.social "weight" }}
    {{ if gt .weight -1 }}
    <a href="{{ .url | safeURL }}" target="_blank" rel="noopener" title="{{ .name | title }}">
        <img class="icon" src="{{ .icon }}" alt="_" />
        <span class="name">{{ .name | lower }}</span></a>
    </a>
    {{ end }}
    {{ end }}
    
    {{ with .Site.Params.author }}
    <a href="mailto:{{ .email }}" title="{{ .email }}">
        <img class="icon" src="/img/hand/mail.svg" alt="_" />
        <span class="name">email</span>
    </a>
    {{ end }}

    {{ with .Site.RSSLink }}
    <a class="rss-icon" href="{{ . | safeURL }}" title="Feed">
        <img class="icon" src="/img/hand/rss.svg" alt="_" />
        <span class="name">rss</span>
    </a>
    {{ end }}
</nav>
