.post-meta {
    * {
        color: lighten($font-color, 20%);
    }
    h1 {
        color: initial;
        margin-bottom: .2rem;
    }
    span,nav {
        display: inline;
        margin: 0.2rem;
    }
    .divider {
        display: inline;
    }
    .divider:before {
        content: '|';
    }
}

.posts {
    @include flow(column nowrap, start, center);
    align-items: initial;

    .post {
        .content {
            color: lighten($font-color, 5%);
        }
        .readmore {
            float: right;
        }
    }
    .draft {
        background-color: lighten(red, 30%);
    }
}

article {
    footer {
        * {
            color: lighten($font-color, 20%);
        }
        text-align: right;
        margin-right: 1rem;
    }
}
