.frontpage {
    display: grid;
    grid-template-columns: 1fr max-content(40vw) 2fr;
    grid-template-areas:
        "left middle right";

    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;

    nav {
        font-family: $font-mono-family;
        font-weight: $font-mono-weight;
        line-height: $font-mono-line-height;
        a {
            color: $font-color;
            text-decoration: none;
        }
    }

    .left {
        grid-area: left;

        nav {
            @include flow(column nowrap, space-around, end);
        }
    }

    .middle {
        grid-area: middle;
        display: flex;
        justify-content: center;

        img.headshot {
            max-width: 50vh;
            max-height: 40vh;

            object-fit: contain;
            object-position: 50% 50%;

            border-radius: 60%;
            border: thin solid $color-base-1;
            padding: .5rem;
        }
    }

    .right {
        grid-area: right;

        nav {
            @include flow(column nowrap, space-around, start);
        }
    }
}

@media all and (max-width: 1020px) {
    .frontpage {
        grid-template-colums: 100%;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "middle"
            "right"
            "left";
        grid-row-gap: 2rem;

        .middle {
            max-width: 80vw;
            margin-top: 4rem;
        }
        .right {
            align-self: start;
            width: 60%;
            nav { @include flow(row wrap, space-between, start); }
            nav .name { display: none; }
        }
        .left {
            align-self: start;
            nav { @include flow(column wrap, space-between, center); }
        }
    }
}
