@import "frontpage";
@import "blog";

.icon {
    @include scale(1.5rem, 1.5rem, .2rem);
}

a {
    text-decoration: none;
}
a:hover {
    font-weight: $font-bold;
    .icon {
        @include zoom(1.2);
    }
}

@mixin invert() {
    $font-color: invert($color-base-1);
    background: $color-base-1;
    color: $font-color;
    a {
        color: $font-color;
    }
}

.site-header {
    span {
        padding: .1rem .3rem;
        @include invert();
    }
}

.site-footer {
    @include invert();
    justify-content: space-between;

    .copyright {
        margin: 0 1rem;
    }
    .menu .icon {
        display: none;
    }
    .social a {
        .icon {
            filter: invert(100%);
        }
        .name {
            display: none;
        }
    }
}

@media all and (max-width: 580px) {
    .site-footer .social {
        display: none;
    }
}
