{{/* vim: ft=gohtmltmpl
     */}}

<!-- menu.main -->
{{ $menu := or (.Scratch.Get "menu") .Site.Menus.main }}
{{ if gt ($menu | len) 0 }}
<nav class="menu">
    {{ range $menu.ByWeight }}
    {{ if gt .Weight -1 }}
    <a href="{{ .URL }}" title="{{ .Title }}"><span>{{ .Name | lower }}</span></a>
    {{ end }}
    {{ end }}
</nav>
{{ end }}
{{ .Scratch.Delete "menu" }}
