{{/* vim: ft=gohtmltmpl
     */}}

<!-- sitemap -->
<nav>
    {{ range .Site.AllPages }}
    <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="date">{{ .Date.Format "(2006/01/02)" }}</span>
    </li>
    {{ end }}
</nav>
