{{/* vim: ft=gohtmltmpl
     */}}

<!-- socials -->
{{ with .Site.Params.social }}
<nav class="social">
    {{ range sort . "weight" }}
    {{ if gt .weight -1 }}
    <a href="{{ .url }}" title="{{ .name | title }}"><span>{{ .name | lower }}</span></a>
    {{ end }}
    {{ end }}
</nav>
{{ end }}
