{{/* vim: ft=gohtmltmpl
     */}}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}

{{ .Content }}

<section class="posts">
  {{ $paginator := .Paginate (where (where .Site.Pages "Type" "blog") "Kind" "page") }}

  {{ range $paginator.Pages }}
    <div class="post{{if .Draft}} draft{{end}}">
    <a href="{{ .RelPermalink }}">
      <div class="post-meta">
        {{ partial "post-meta.html" . }}
      </div>
    </a>
    <div class="content">
      <p>
      {{ with .Description }}
        {{ . | markdownify }}
      {{ else }}
        {{ if .Truncated }}
          {{ .Summary | markdownify }}
        {{ end }}
      {{ end }}
      </p>
    </div>
    <a class="readmore" href="{{ .RelPermalink }}">read more...</a>
  </div>
  {{ end }}

  <div class="pagination">
    <div class="buttons">
      {{ if $paginator.HasPrev }}
      <span class="button previous">
        <a href="{{ $paginator.Prev.URL }}">
          <img src="/img/hand/arrow-left.svg" />
          <span>newer</span>
        </a>
      </span>
      {{ end }}
      {{ if $paginator.HasNext }}
      <span class="button">
        <a href="{{ $paginator.Next.URL }}">
          <img src="/img/hand/arrow-right.svg" />
          <span>older</span>
        </a>
      </span>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
