{{/* vim: ft=gohtmltmpl
     */}}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<article>
    <header class="post-meta">
    {{ partial "post-meta.html" . }}
    </header>

    {{ .Content }}

    {{ with .Params.Authors }}
    <footer>
        <span class="authors">
            <span>by</span>
            {{ index . 0 -}}
            {{ if gt (len .) 1 }}
            {{ range after 1 . }}, {{ . }}{{ end }}
            {{ end }}
        </span>
    </footer>
    {{ end }}
</article>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
