{{/* vim: ft=gohtmltmpl
     */}}

{{ define "content" }}

<section class="notfound">
    <em>404</em>
    <span>ohh noooo :(</span>

    <p>
        Send
        <a href="mailto:r@gnzler.io">mail</a> 
        in case of emergency!
    </p>
</section>

{{ end }}
