{{/* vim: ft=gohtmltmpl
     */}}

{{ define "header-class-ext" }} noshow{{ end }}

{{ define "header" }}
<!-- remove -->
{{ end }}

{{ define "content-class-ext" }} frontpage{{ end }}
{{ define "content" }}
<div class="left">
  {{ partial "menu.html" . }}
</div>

<div class="middle">
  <img class="headshot" src="/img/headshot.jpg" />
</div>

<div class="right">
  {{ partial "social.html" . }}
</div>
{{ end }}

{{ define "footer" }}
<div class="row">
  {{ partial "social.html" . }}
</div>
<div class="row">
  {{ .Scratch.Set "menu" .Site.Menus.footer }}
  {{ partial "menu.html" . .Site.Menus.footer }}
</div>

{{ end }}
