{{/* vim: ft=gohtmltmpl
     */}}

{{ define "content" }}
<div class="notfound">

    <em>404</em>
    <span>ohh noooo :(</span>
    {{ with .Params.email }}
    <p>
        Send <a href="mailto:{{ . | urlize }}">mail</a> 
        in case of emergency!
    </p>
    {{ end }}

</div>
{{ end }}
