{{/* vim: ft=gohtmltmpl
     */}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8">
  <!-- Search Engine -->
  <meta name="description" content="{{ .Description }}">
  {{ if $.Param "image" }}<meta name="image" content="{{ $.Param "image" }}">{{ end }}
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{ .Title }}">
  <meta itemprop="description" content="{{ .Description }}">
  {{ if $.Param "image" }}<meta itemprop="image" content="{{ $.Param "image" }}">{{ end }}
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:site" content="@{{ $.Site.Params.author.name }}">
  <meta name="twitter:creator" content="@{{ $.Site.Params.author.name }}">
  {{ if $.Param "image" }}<meta name="twitter:image:src" content="{{ $.Param "image" }}">{{ end }}
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ .Title }}">
  <meta name="og:description" content="{{ .Description }}">
  {{ if $.Param "image" }}<meta name="og:image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
  <meta name="og:url" content="{{ .Permalink }}">
  <meta name="og:site_name" content="{{ .Title }}">
  <meta name="og:type" content="article">
  <!-- Open Graph - Article -->
  <meta name="article:author" content="{{ $.Site.Params.author.name }}">
  <meta name="article:tag" content="{{ range .Params.tags }}{{.}} {{end}}">
  {{ partial "manifest.html" . }}

  <link rel="author" type="text/plain" href="/humans.txt">

  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  {{ with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}
  <link rel="stylesheet" type="text/css" href="{{ "/assets/index.css" | absURL }}">

  <style type="text/css">
    @supports (display: grid) {
        .check-grid-support { display: none; }
    }
  </style>
</head>
<body class="grid">
  <div class="warn check-grid-support">
    <li>&#x26A0</li>
    <span>
      This site makes heavy use of <a href="//developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout"><b>css-grid</b></a>.<br />
      It seems like your browser doesn't support it :(
    </span>
    <li>&#x26A0</li>
  </div>
  
  <header class="site-header {{ block "header-class-ext" . }}{{end}}">
  {{ block "header" . }}<!-- no header -->{{ end }}
  </header>

  <section class="site-content {{ block "content-class-ext" . }}{{end}}">
  {{ block "content" . }}<!-- no content -->{{ end }}
  </section>

  <footer class="site-footer {{ block "footer-class-ext" . }}{{end}}">
  {{ block "footer" . }}<!-- no footer -->{{ end }}
  </footer>

  <script src="{{ "/assets/index.js" | absURL }}"></script>
</body>
</html>
