{{/* vim: ft=gohtmltmpl
     */}}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<ul>
{{ range .Pages }}
  <li class="{{if .Draft}}draft{{end}}">
    <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
    <span class="date">[{{ .Date.Format "2006/01/02" }}]</span>
  </li>
{{ end }}
</ul>

{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
