// global variables go here:

$color-base-1: #1a1a1a;
$color-base-2: lighten(blue, 10);
$color-base-3: lighten(green, 10);

$font-color: $color-base-1;
$font-light: 100;
$font-regular: 400;
$font-bold: 700;

$font-base-family: sans-serif;
$font-base-weight: $font-regular;
$font-base-size: 14px;
$font-base-line-height: 1.5;

$font-mono-family: monospace;
$font-mono-weight: $font-regular;
$font-mono-size: 12px;
$font-mono-line-height: $font-base-line-height;

$font-header-family: sans-serif;
$font-header-weight: $font-bold;
$font-header-size: 16px;
$font-header-line-height: 1.5;

$common-border-radius: 3px;
